.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-size: 2rem;
  color: white;
  font-weight: 1000;
}

.table_name{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: white;
  font-weight: 1000;
}