*{
  margin: 0;
  padding: 0;
  background-color: black;
  color: wheat;
}

.div_Table_component{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 50%;
  margin: auto;
}